# This a template of systemd service file.

[Unit]
Description=Autolabor PM1 Driver Service
After=autolabor.vpn.service

[Service]
ExecStart=/home/autolabor/repos/pm1_sdk_2/build/release/pm1_with_udp 5100

[Install]
WantedBy=multi-user.target
